/* ------  Adapted Meyerweb CSS Reset  ------ */

/* prettier-ignore */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, img, strong, ol, ul, li,
form, label, footer, header, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* prettier-ignore */
footer, header, nav, section {
	display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------ Custom Properties ------ */

/* Color Theme Swatches in HSLA */
/* .Travel-1-hsla { color: hsla(185, 96, 17, 1); }
.Travel-2-hsla { color: hsla(22, 96, 48, 1); }
.Travel-3-hsla { color: hsla(22, 75, 79, 1); }
.Travel-4-hsla { color: hsla(0, 96, 48, 1); }
.Travel-5-hsla { color: hsla(0, 85, 35, 1); } */

/* Background #FFFBF7 */
/* Light Section #FFECDE */
/* Header, Footer & Welcome: #78ADB3 */
/* Light blue section #DEFCFF */
/* Brown #B39889 */
/* Orange accent: #F07F30 */

:root {
  --clr-primary-900: #00a9b3;
  --clr-primary-600: #defcff;
  /* --clr-primary-300: */

  --clr-secondary-900: #ffecde;
  /* --clr-secondary-600: */
  --clr-secondary-300: #fffbf7;

  --clr-accent: hsl(24, 100%, 40%);
  /* TODO: Decide on dark accent */
  --clr-accent-dark1: hsl(25, 86%, 20%);
  --clr-accent-dark2: hsl(21, 42%, 22%);

  --clr-text-primary: hsl(0, 0%, 12%);
  --clr-text-secondary: hsl(0, 0%, 25%);
  --clr-text-light: hsl(0 0 30);

  --ftw-900: 900;
  --ftw-600: 600;
  --ftw-400: 400;
  --ftw-200: 200;

  --gap-xsml: 0.5rem;
  --gap-sml: 1rem;
  --gap-med: 2rem;
  --gap-lge: 4rem;
  --gap-xlge: 6rem;

  --txtbox-width: clamp(500px, 50vw, 750px);
  --txt-underline: 0.2em solid;

  --frame-arrow: 8px solid;

  --boxshadow-low: 0px 0px 8px 2px hsla(0 0% 0% / 0.15);
  --boxshadow-mid: 0px 0px 12px 2px hsla(0 0% 0% / 0.2);
  /* --boxshadow-high:  */
}

/* ------ Main Layout ------ */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: var(--ftw-400);
  color: var(--clr-text-primary);
  background-color: var(--clr-secondary-300);
}

em {
  font-style: italic;
}

/* TODO: Nav shadow on scroll */

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav,
#footer {
  max-height: 5vh;
  padding: var(--gap-sml);
  gap: var(--gap-med);
}

nav,
#footer,
#welcome {
  display: flex;
  flex-direction: row;
  background-color: var(--clr-primary-900);
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-lge);
  padding: var(--gap-xlge) var(--gap-lge);
}

.section::before {
  content: '';
  position: absolute;
  top: 2.5rem;
  right: 5%;
  width: 20px;
  height: 20px;
  border-top: var(--frame-arrow) var(--clr-primary-900);
  border-right: var(--frame-arrow) var(--clr-primary-900);
}

.section.alt::before,
.section#welcome::before {
  left: 5%;
  border-right: none;
  border-left: var(--frame-arrow) var(--clr-primary-900);
}

.section#welcome::before {
  top: 10rem;
  border-color: var(--clr-accent);
}

.section::after {
  content: '';
  position: absolute;
  bottom: 2.5rem;
  left: 5%;
  width: 20px;
  height: 20px;
  border-bottom: var(--frame-arrow) var(--clr-primary-900);
  border-left: var(--frame-arrow) var(--clr-primary-900);
}

.section.alt::after,
.section#welcome::after {
  left: auto;
  right: 5%;
  border-left: none;
  border-right: var(--frame-arrow) var(--clr-primary-900);
}

.section#welcome::after {
  bottom: 10rem;
  border-color: var(--clr-accent);
}

.section.alt {
  background-color: var(--clr-secondary-900);
}

.section-content {
  display: flex;
  flex-direction: row;
  gap: var(--gap-lge);
  justify-content: center;
  align-items: center;
  width: clamp(900px, 80vw, 1500px);
}

.section-content.work-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

h2 {
  font-size: 2rem;
  font-weight: var(--ftw-900);
  color: var(--clr-text-secondary);
}

h1,
.underline,
.contact-text li {
  position: relative;
  width: fit-content;
}

h1::before,
.underline::before {
  content: '';
  position: absolute;
  inset: -0.3em 0;
  border-bottom: var(--txt-underline);
  transform: scaleX(70%);
  transform-origin: left;
}

.contact-text li::before,
.about-text a::before {
  content: none;
  position: absolute;
  inset: 0;
  border-bottom: var(--txt-underline);
  transform-origin: left;
}

.contact-text li:hover::before,
.about-text a:hover::before {
  animation: underslide 0.4s forwards;
  content: '';
  z-index: -1;
}

@keyframes underslide {
  from {
    transform: scaleX(0%);
  }
  to {
    transform: scaleX(70%);
  }
}

/* ------ SECTION SPECIFICS ------ */

/* TODO: background design for welcome section */
#welcome.section {
  height: 95vh;
  padding-top: 0;
}

h1 {
  color: var(--clr-accent);
  font-size: 4rem;
  font-weight: var(--ftw-900);
  margin-bottom: 1.5rem;
}

.welcome-text {
  width: var(--txtbox-width);
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sml);

  color: var(--clr-text-secondary);
  font-size: 1.25rem;

  width: var(--txtbox-width);
}

.about-text p:first-child {
  font-weight: var(--ftw-600);
}

.about-text a {
  position: relative;
  font-style: italic;
  font-weight: var(--ftw-600);
}

/* ------ Work Cards ------ */

.work-grid > div {
  width: 100%;
  height: 100%;
  background-color: var(--clr-secondary-300);
  box-shadow: var(--boxshadow-mid);
}

.main-card {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: var(--gap-sml);
  border-radius: 0 3rem;
}

.half-card {
  border-radius: 0 2rem;
}

.sub-card {
  color: var(--clr-text-secondary);
  font-size: 1.25rem;
  padding: 0 var(--gap-med) var(--gap-med) var(--gap-med);
}

.sub-card.job-desc {
  grid-column: 1 / span 2;
  padding-bottom: 0;
}

.sub-card.solo-card {
  padding: var(--gap-sml) var(--gap-med) var(--gap-med) var(--gap-med);
}

.sub-card .list-title {
  color: var(--clr-text-primary);
  font-weight: var(--ftw-600);
  padding-bottom: 0.7rem;
}

.title-sub-card {
  grid-column: 1 / span 2;
  background-color: var(--clr-primary-900);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsml);
  border-top-right-radius: inherit;
  padding: var(--gap-sml) var(--gap-med);
}

.title-sub-card.accent-card {
  background-color: var(--clr-accent);
  color: var(--clr-secondary-900);
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--ftw-600);
}

.subtitle {
  font-size: 1.5rem;
}

.date-range {
  font-weight: var(--ftw-200);
  font-style: italic;
  font-size: 1.25rem;
}

/* ------ Lists ------ */

.work-list {
  position: relative;
  padding-left: var(--gap-sml);
}

.work-list li {
  padding-bottom: var(--gap-sml);
}

.work-list li:last-child {
  padding-bottom: var(--gap-xsml);
}

.work-list::before {
  content: '';
  position: absolute;
  inset: -0.4rem auto -0.5rem 0;
  width: 5rem;
  /* border-top: 4px solid var(--clr-primary-900); */
  border-left: 4px solid var(--clr-primary-900);
  border-bottom: 4px solid var(--clr-primary-900);
  border-bottom-left-radius: 1rem;
}

.work-list li + li {
  position: relative;
}

.work-list li + li::before {
  content: '';
  position: absolute;
  left: -1rem;
  top: -0.5rem;
  width: 3rem;
  height: 4px;
  background-color: var(--clr-primary-900);
}

.main-card .work-list::before {
  border-color: var(--clr-accent);
}
.main-card li + li::before {
  background-color: var(--clr-accent);
}

.nav-list {
  display: flex;
  gap: var(--gap-sml);
}

/* ------ Timeline ------ */

/* Grid, with before on the Grid itself for the 
horizontal line. 3 columns, 2 rows.
circle/dot pseudo element on each education card
up, down, up */

.timeline-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: var(--gap-lge);
  position: relative;
}

.timeline-grid .timeline-card:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}

.timeline-grid .timeline-card:nth-child(2) .timeline-card-date {
  padding-top: 0;
  padding-bottom: var(--gap-xsml);
}

.timeline-grid .timeline-card:last-child {
  grid-column: 3;
}

.timeline-grid::before {
  content: '';
  position: absolute;
  inset: 45% 0 45% -15%;
  height: clamp(1.5rem, 10%, 2.5rem);
  background: var(--clr-accent);
  /* border-top: 3px solid var(--clr-primary-900); */
  /* border-bottom: 3px solid var(--clr-primary-900); */
}

.timeline-grid::after {
  content: '';
  position: absolute;
  inset: 40% auto 40% -15%;
  width: 10%;
  z-index: 1;
  /* background-color: green; */
  background-image: linear-gradient(
    to left,
    hsla(30 100% 98% / 0),
    hsla(30 100% 98% / 1) 100%
  );
}

.timeline-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.timeline-card-date {
  font-size: 1.75rem;
  font-weight: var(--ftw-600);
  padding-top: var(--gap-xsml);
}

.timeline-text {
  color: var(--clr-text-secondary);
}

.timeline-text + .timeline-text {
  padding-top: 0.5rem;
}

.timeline-card-title {
  font-size: 1.5rem;
}

.timeline-card-subtitle,
.timeline-card-detail {
  font-size: 1.25rem;
  font-style: italic;
}

.timeline-card::before {
  content: '';
  position: absolute;
  bottom: -3.5rem;
  height: 2rem;
  width: 2rem;
  background-color: var(--clr-secondary-300);
  border: 0.5rem solid var(--clr-primary-900);
  border-radius: 100%;
  z-index: 5;
}

.timeline-card:nth-child(2)::before {
  content: '';
  position: absolute;
  top: -3.5rem;
  height: 2rem;
  width: 2rem;
  background-color: var(--clr-secondary-300);
  border: 0.5rem solid var(--clr-primary-900);
  border-radius: 100%;
}

.timeline-card:last-child::after {
  content: '';
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  height: 3rem;
  width: 50%;
  z-index: 4;
  background-color: var(--clr-secondary-300);
}

/* ------ Project Cards ------ */

.project-card {
  /* border: 2px solid var(--clr-accent); */
  border-radius: 0 2rem;
  width: 400px;
  box-shadow: var(--boxshadow-mid);
  background-color: var(--clr-accent);
}

.project-text {
  display: flex;
  flex-direction: column;
  padding: var(--gap-sml);
  gap: var(--gap-sml);
  color: var(--clr-secondary-300);
  border-bottom-left-radius: inherit;
}

.project-title {
  font-size: 2rem;
  font-weight: var(--ftw-600);
}

.project-detail {
  /* color: var(--clr-text-secondary); */
  font-style: italic;
}

.project-btns {
  padding-bottom: var(--gap-xsml);
  display: flex;
  justify-content: center;
  gap: var(--gap-med);
}

/* ------ Contact ------ */

.contact-text {
  margin-right: var(--gap-lge);
}

.contact-text li {
  color: var(--clr-text-secondary);
  font-size: 1.25rem;
  padding: var(--gap-sml) 0;
}

.contact-text li:hover,
.about-text a:hover {
  color: var(--clr-text-primary);
}

.contact-text i {
  padding: var(--gap-xsml);
}

/* ------ Buttons & Icons ------ */

.project-btns a {
  color: var(--clr-text-primary);
  font-size: 1.25rem;
  font-weight: var(--ftw-600);
  text-align: center;
  width: 50px;
  padding: 0.4rem 1rem;
  background-color: var(--clr-secondary-900);
  border-radius: 0.5rem;
}

.project-btns a.active {
  transition: all 0.25s ease-out;
}

.project-btns a.active:hover {
  color: var(--clr-secondary-300);
  background-color: var(--clr-primary-900);
  box-shadow: var(--boxshadow-low);
}

.project-btns a.inactive {
  opacity: 0.5;
}

/* ------ Images ------ */

.img-round {
  border-radius: 100%;
  box-shadow: var(--boxshadow-mid);
}

img.profile {
  width: 200px;
  height: 200px;
}

img.about,
img.contact {
  width: 400px;
  height: 400px;
}

.project-card img {
  width: 400px;
  height: 240px;
  object-fit: cover;
  object-position: 0% 0%;
  border-top-right-radius: inherit;
}
